/* styles for my resume*/

#name, #container, .mission-statement, .section-header, .job-title, .organization, .date, .description, .menu, #education, body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 1em;
  color: #444;
}
div#container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 50px;
}
/* banner name at top*/
div#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  }
/* description title at top*/
div#title {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #33485e;
  font-weight: 700;
  text-align: center;
  width: 60%;
  min-width: 300px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
/* styles for my mission statement*/
div.mission-statement {
  width: 60%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 30px;
}
/* styles for section headers*/
div.section-header {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  max-width: 400px;
  }
/* styles for job titles*/
div.job-title {
  font-weight: 700;
  font-size: 1.5em;
}
/* styles for the organizations I worked at*/
div.organization {
  font-weight: 400;
  font-size: 1.25em;
  margin-top: 2px;
}
/* styles for dates*/
div.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
/* styles job descriptions*/
div.description {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
}
/* styles for contact information*/
div.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
/* styles for my education section*/
div#education {
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
/* styles for my skills section*/
div#skills {
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
