/* styles for my resume*/

#name, .section-header, .job-title, h4, h5, p, li, body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 1em;
  color: #444;
}
div#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  }
strong {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #33485e;
}
div.section-header {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 700;
  margin: 10px 20px 0px 0px;
  max-width: 400px;
  }
div.job-title {
  font-weight: 700;
  font-size: 1.5em;
}
div.organization {
  font-weight: 400;
  font-size: 1.25em;
  margin: 2px 0 auto;
}
div.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin: 2px 0px 0px 0px;
}
li {
  font-size: 1em;
}
