/* styles for my resume*/

#banner, .contact-info, .section-header, .job-titles, .organizations, .dates, p, footer {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

/* banner at top of resume*/
#banner {
  display: none;
}

/* styles for contact information*/
.contact-info {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

/* styles for section headers*/
.section-header {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  color: #6495ED;
  margin: 5px;
  }

/* styles for job titles*/
.job-titles {
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
  color: #708090;
}
/* styles for the organizations I worked at*/
.organizations {
  margin-left: 10px;
  font-size: 16px;
}

/* styles for dates*/
.dates {
  font-style: italic;
  margin-left: 10px;
  font-size: 16px;
}

/* styles job descriptions*/
p {
  padding: 5px;
  margin: 5px;
  font-weight: 400;
}

/*styles for my footer*/
footer {
  width: 100%;
  background-color: #708090;
  padding: 60px 0px;
  color: white;
  text-align: center;
  font-style: italic;
  border-style: solid;
  font-size: 18px;
}
