/* styles for my resume*/

#banner, #container, .mission-statement, #title, #image, #experience, .section-header, .job-title, .organization, .date, .description, .menu, #education, #skills, body {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

#banner {
  width: 100%;
}

#container {
}

/* banner name at top*/
.name {
  font-size:
  text-transform: uppercase;
  font-weight:
  text-align: center;
  }

/* description title at top*/
#title {
  font-size:
  text-transform: uppercase;
  text-align: center;
}

/* styles for my mission statement*/
#mission-statement {
  text-align; center;
  font-size: 20px;
}

#experience {
  font-size: 20px;
  text-transform: uppercase;
}

/* styles for section headers*/
.section-header {
  text-transform: uppercase;
  }

/* styles for job titles*/
.job-title {
  font-weight:
  font-size:
}

/* styles for the organizations I worked at*/
.organization {
}

/* styles for dates*/
.date {
  font-style: italic;
}

/* styles job descriptions*/
.description {
}

/* styles for contact information*/
.menu {
  text-align: left;
}
/* styles for my education section*/
#education {
}
/* styles for my skills section*/
#skills {
}
