
/*styles for navbar*/
.bg-dark {
background: #333333;
}

ul.navbar-nav {
  margin-left: auto;
}
.navbar {
  font-family: 'Montserrat';
  font-size: 1.25em;
  color: white;
  max-width: 100%;
}

/*styles for paragraph tags*/
p {
  line-height: 180%;
  font-family: 'PT Serif', serif;
  font-size: 1em;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #000000;
  max-width: 100%;
}

/*styles for links within the article*/
a {
  text-decoration: none;
}
a:link {
  color: #e0162b;
}
a:visited {
  color: #999;
}
a:hover {
  color: #0052a5;
}

/*styles for red and blue stars*/
.red {
  color: #e0162b;
  width: 15px;
  margin-right: 10px;
}
.blue {
  color: #0052a5;
  width: 15px;
  margin-right: 10px;
}
.star-row {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

/*styles for main headline of the article*/
.main-headline {
  font-size: 3em;
  text-align: center;
  margin-top: 24px;
  padding-top: 20px;
  font-family: 'Montserrat';
  font-weight: bold;
}

/*styles for the subheadline of the article*/
.byline {
  font-family: 'Montserrat';
  font-size: 1.25em;
  text-align: center;
}

/*styles for the chapter titles in the article*/
.chapter-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

/*styles for the images within the article*/
.hero-image {
  max-width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}
.stack-image {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 30px;
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
}

/*styles for the image captions*/
.caption {
  font-family: 'Montserrat', sans-serif;
  max-width: 900px;
  color: #999;
  padding-bottom: 30px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

/*styles for the body of the text*/
.intro-text {
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-bottom: 40px;
  max-width: 100%;
}

/*styles for the graphic-container*/
.graphic-container-h4 {
  font-family: 'Montserrat', sans-serif;
  color: #444;
  font-size: 1.5em;
  padding-bottom: 5px;
}
.graphic-container {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  color: #444;
  max-width: 100%;
}

/*styles for col-12*/
.col-12 {
  width: 100%;
}

/*styles for the footer of the article*/
footer {
  display: block;
  font-family: 'Montserrat';
  background-color: #000000;
  padding: 25px;
  color: white;
  border-style: solid;
  text-align: center;
  width: 100%;
}
