#content, .banner, .header-image, .h1, #byline, .body,  {
  margin: 0 auto;
  max-width: 900px;
}
.banner {
  width: 900;
  height: 80;
}
.header-image {
  font-family: Helvetica, sans-serif;
  font-size; 14px;
}
.h1 {
font-family: Helvetica, sans-serif;
font-size: 30px;
margin-top: 20px;
}
#byline {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-style: italic;
}
.body {
  font-family: Georgia, serif;
  font-size: 18px;
}
.body-image {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
.related-items {
  
}
